name: Deploy website via GitHub pages

on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: shirokuma API documentation

    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup node
        # This action also handles dependency caching for us
        uses: actions/setup-node@v3
        with:
          node-version-file: .nvmrc

      - name: Restore from npm cache
        uses: actions/cache@v3
        with:
          path: ~/.npm
          key: ${{ runner.os }}-deploy-${{ hashFiles('**/package-lock.json') }}

      - name: Install dependencies
        run: npm ci

      - name: Run build
        run: npm run build

      - name: Build documentation page
        run: npm run docs

      - name: Deploy website
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs

