name: shirokuma

on: push

env:
  cache_path: |
    ~/.npm

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node: [16, 17, 18, 19]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup node ${{ matrix.node }}
        # This action handles node dependency caching for us
        uses: actions/setup-node@v3
        with:
          node-version: "${{ matrix.node }}"

      - name: Restore from npm cache
        uses: actions/cache@v3
        with:
          path: ${{ env.cache_path }}
          # Note that this caching action does NOT cache node dependencies.
          # This is done by "actions/setup-node" instead. Here we're caching
          # npm artifacts.
          key: ${{ runner.os }}-test-${{ matrix.node }}-${{ hashFiles('**/package-lock.json') }}

      - name: Install dependencies
        run: npm ci

      - name: Run tests
        run: npm run test --coverage

      - if: matrix.node == 16
        uses: codecov/codecov-action@v2

  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup node
        # This action also handles dependency caching for us
        uses: actions/setup-node@v3
        with:
          node-version-file: .nvmrc

      - name: Restore from npm cache
        uses: actions/cache@v3
        with:
          path: ${{ env.cache_path }}
          key: ${{ runner.os }}-build-${{ hashFiles('**/package-lock.json') }}

      - name: Install dependencies
        run: npm ci

      - name: Run build
        run: npm run build

  typecheck:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup node
        # This action also handles dependency caching for us
        uses: actions/setup-node@v3
        with:
          node-version-file: .nvmrc

      - name: Restore from npm cache
        uses: actions/cache@v3
        with:
          path: ${{ env.cache_path }}
          key: ${{ runner.os }}-tsc-${{ hashFiles('**/package-lock.json') }}

      - name: Install dependencies
        run: npm ci

      - name: Check types
        run: npm run typecheck

  deploy-js-docs:
    name: Deploy shirokuma API documentation

    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup node
        # This action also handles dependency caching for us
        uses: actions/setup-node@v3
        with:
          node-version-file: .nvmrc

      - name: Restore from npm cache
        uses: actions/cache@v3
        with:
          path: ${{ env.cache_path }}
          key: ${{ runner.os }}-deploy-${{ hashFiles('**/package-lock.json') }}

      - name: Install dependencies
        run: npm ci

      - name: Run build
        run: npm run build

      - name: Build documentation page
        run: npm run docs

      - name: Deploy website
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs

